*{
    box-sizing: border-box;
}

body{
    background-image: url("./data/imagenes/fondo3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;
    font-family: 'Acme', sans-serif;
}

.titleContainer{
  background: #FBC505;
  position: relative;
  display:flex;
  height: 90px;
  justify-content: center;
  flex-direction: row;    
}

img.imageLogoPoke, img.imageLogoGo{
  margin-right:-55px;
}

img.imageLogoPoke{
  width: 260px;
  height: 120px;
  margin-top: -15px;
  margin-left: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img.imageLogoGo{
  width: 165px;
  height: 65px;
  margin-top: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img.pikachu{
  margin-left: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.nav{
  flex:1 1 auto;
  height: 30px;
  display: flex;
  justify-content: center;
  
  } 

.tag{
    background: #ec3e18;
    color: white;
    font-size: 20px;
    padding:0 10px;
    letter-spacing: 1px;
    text-decoration: none;  
    font-family: 'Acme', sans-serif;
}

.tag:hover{
  color: #5e5e5d;
}

.welcomeIntroduccion{
  display: flex;
  position: relative;
  height: 200px;
  width: 1349px;
  background-image: url("./data/imagenes/bannerazul2.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2{
  text-align: center;
  height: 161px;
  width: 995px;
  color: white;
  font-size: 20px;
  margin-top: 50px;
  margin-left: -40px;
  margin-right: 100px;
}

img.playPokemon{
  margin-left:130px;
}

.pokemonContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
} 
  /*caja contenedora de los pokemones*/
  .pokemonBox {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
  }
  .box{
    width: 150px;
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 5px;
    height: 150px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
        
  }

  p.numberBox{
    position: absolute;
    margin-bottom: -115px;
    margin-left: -95px;
    width: 46px;
    font-size: 13px;
    color: rgb(196, 190, 190);     
  }

  img.picture{
    display: flex;
    width: 100px;
    height: px;
    
  }

  .card-title{
    width: 95px;
    height: 20px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: -15px;
    margin-left: -45px;
    padding-top: 2px;
    color: white;
  }

  footer{
    background-color: #08073c77;
    color:white;
    text-align: center;
    justify-content: center;
    height: 30px;
    font-weight: 300;
    font-size: 0.7em;
    display: flex;
  }

 

    

