* {
  box-sizing: border-box;
}

body {
  background-image: url("./data/imagenes/fondo3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: "Acme", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.titleContainer {
  background: #fbc505;
  position: relative;
  display: flex;
  height: 14.4vh;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img.imageLogoPoke,
img.imageLogoGo {
  margin-right: -48px;
}

img.imageLogoPoke {
  height: 19.2vh;
  margin-top: -15px;
  margin-left: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img.imageLogoGo {
  height: 10.4vh;
  margin-top: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img.pikachu {
  margin-left: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.nav {
  height: 4.8vh;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #ec3e18;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.sortBy:hover,
.element:hover,
.search:hover,
.link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.sortBy,
.element,
.search,
.link {
  display: flex;
  background: #ec3e18;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Acme", sans-serif;
  border: none;
  margin-left: 100px;
}

.sortBy {
  margin-left: 20px;
}

::placeholder {
  color: white;
}

.link {
  color: white;
  text-decoration: none;
  padding-top: 2px;
  margin-right: 5px;
}

.search {
  width: 11.6%;
}

.iconsE {
  margin-left: -3px;
}

.iconsPokedex {
  margin-left: 5px;
}

.welcomeIntroduccion {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  position: relative;
  height: 32vh;
  width: 100%;
  background-image: url("./data/imagenes/bannerazul2.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p.intro {
  text-align: center;
  height: 25.76vh;
  color: white;
  font-size: 20px;
  margin-top: 50px;
  margin-right: 100px;
}

img.playPokemon {
  margin-left: 10px;
}

.pokemonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemonBox {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box {
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.055);
  border-radius: 5px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: "Acme", sans-serif;
}

p.numberBox {
  position: absolute;
  margin-bottom: -115px;
  margin-left: -95px;
  width: 46px;
  font-size: 13px;
  color: rgb(196, 190, 190);
}

img.picture {
  display: flex;
  width: 100px;
  height: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-title {
  width: 95px;
  height: 20px;
  font-size: 20px;
  border-radius: 20px;
  margin-top: -15px;
  margin-left: -45px;
  padding-top: 2px;
  color: white;
}

.containerModal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 32.6vw;
  height: 94vh;
  padding: 10px;
  z-index: 1;
  display: none;
  position: fixed;
  top: 5%;
  left: calc(50% - 32.6vw / 2);
  min-width: 300px;
}

.modalInside {
  background-image: url("./data/imagenes/fondocarta10.png");
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.801);
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  padding-right: 5px;
  padding-left: 5px;
  border: 3px solid rgba(255, 255, 255, 0.747);
  padding-bottom: 0px;
  border-radius: 5px;
  justify-content: flex-end;
  align-items: center;
  
}

.close {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  float: right;
  margin-top: -5px;
  font-size: 30px;
}

.close:hover {
  color: white;
}

.textPicture {
  background-color: rgba(255, 255, 255, 0.781);
  margin-left: 10px;
  margin-right: 8px;
  border-radius: 10px 10px 0px 0px;
  height: 78%;
  width: 95%;
  line-height: 15px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 110px;
 
}

.nameModal {
  text-align: center;
  margin-top: -100px;
  margin-bottom: 7px;
}

.numberModal {
  position: absolute;
  margin-top: 5px;
  margin-left: 3px;
  width: 46px;
  color: rgb(196, 190, 190);
}

.miniPokeball {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

.imgContainer {
  margin-top: -10px;
  width: 13.4vw;
  height: 24.2vh;
  display: flex;
  position: absolute;
  top: 5%;
  left: calc(80% - 32.6vw / 2);
}

.pictureModal {
  height: 23.2vh;
  width: 12.4vw;
  filter: drop-shadow(2px 6px 6px rgba(0, 0, 0, 0.527));
  
}

.sizeTy {
  display: flex;
  border-spacing: 50px 1px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tableModal {
  background-color: rgba(0, 0, 255, 0.493);
  margin: 15px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.stables,
.typesS {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.527);
}

hr {
  width: 75%;
  color: rgb(37, 37, 37);
}

.titles {
  font-weight: bold;
}

.aboutModal {
  margin-top: -13px;
}

.aboutModal,
.resistantModal,
.weaknessesModal,
.titles {
  margin-left: 5px;
}

footer {
  background-color: #08073c77;
  color: white;
  text-align: center;
  justify-content: center;
  height: 30px;
  font-weight: 300;
  font-size: 0.7em;
  display: flex;
}

@media screen and (max-width: 930px) {
  body {
    overflow-x: hidden;
    font-size: 15px;
  }

  .sortBy,
  .element,
  .search,
  .link {
    font-size: 17px;
    margin-left: 40px;
  }

  .sortBy {
    margin-left: 10px;
  }

  .link {
    margin-top: 2px;
  }
}

@media screen and (max-width: 870px) {

  body{
    font-size: 13px;
  }

  p.intro {
    font-size: 18px;
    margin-top: 20px;
  }

  .sortBy,
  .element,
  .search,
  .link {
    margin-left: 35px;
  }

  .sortBy {
    margin-left: -20px;
  }
  .imgContainer {
    width: 169.3px;
    height: 138.7px;
    left: 25%;
  }
  
  .pictureModal {
    height: 132.5px;
    width: 155.7px;
        
  }


}

@media screen and (max-width: 691px) {
  .titleContainer,
  .nav,
  .pokemonContainer,
  footer {
    width: 100%;
  }

  p.intro {
    font-size: 18px;
    margin-top: 45px;
    text-align: center;
    margin-left: 90px;
  }
  img.playPokemon {
    display: none;
  }
  img.imageLogoGo {
    display: none;
  }

  .containerModal{
    left: 23%;
  }

  .imgContainer {
    width: 169.3px;
    height: 138.7px;
  }
  
  .pictureModal {
    height: 132.5px;
    width: 155.7px;
        
  }
}

@media screen and (max-width: 590px) {
  .welcomeIntroduccion {
    height: 28vh;
    width: 100%;
  }

  p.intro {
    font-size: 16px;
    margin-top: 25px;
  }

  .sortBy,
  .element,
  .search,
  .link {
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  .iconsE,
  .iconsPokedex,
  .iconsS,
  .iconsB {
    display: none;
  }

  .link {
    margin-top: 4px;
  }

  .search,
  .element,
  .sortBy {
    margin-top: 2px;
  }

  .box {
    width: 120px;
    height: 120px;
  }

  p.numberBox {
    margin-bottom: -100px;
    margin-left: -75px;
    width: 36px;
    font-size: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-left: -25px;
  }

  .imgContainer {
    width: 169.3px;
    height: 138.7px;
  }
  
  .pictureModal {
    height: 132.5px;
    width: 155.7px;
        
  }
}
